@import '../../theme.scss';

.mat-card {
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    max-width: 350px;
    border-radius: 8px;


    .form {
        // margin-left: auto;
        // margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        
        h3 {
            color: $basic-font-color;
            font-weight:700;
        }

        p {
            color: $secondary-font-color;
            text-align:center;
        }

        h3, p {
            margin-left:auto;
            margin-right:auto;
            font-family: 'Poppins-medium';
        }

        .standard-input, .standard-input-clicked {
            width: 320px;
            height: 50px;
            border-radius: 8px;
            border: 1px solid transparent;
            font-family: 'Poppins-medium';
            font-size: 13px;
            padding-left:12px;
            padding-top:2px;
        }

        .standard-input {
            background:$background;
            color: $secondary-font-color;
        }

        .standard-input-clicked {   
            background:#fff;
            box-shadow: 1px 19px 22px 2px rgba(0,0,0,0.13)
        }

        .message {
            padding-top:25px;
        }

        .fake-input {
            margin-top: auto;
            margin-bottom: auto;
            width:320px;
            height: 50px;
            margin-top:20px;
            display: flex;
            flex-direction: row;

            p {

                color: $basic-font-color;
                font-size: 11px;
                font-family: 'Poppins-medium';
                margin-top:11px;
                margin-left: 0;
                font-weight: bold;
            }

            .mat-radio-group {
                margin-top: 11px;
                // color: $basic-font-color
            }
        }

        mat-form-field {
            width: 350px;

            mat-form-field-wrapper {
                height: 65px;
            }

            mat-label {
                font-family: 'Poppins-medium';
                color: $basic-font-color;
                font-weight: 600;
                font-size: 12px;
                margin: 12px 0px 0px 8px;
                padding-left:10px;
            }

        }

        .mat-radio-button {
            margin-right:10px;
            font-family: 'Poppins-medium';
            font-size: 10px;
            

        }

        .agreement {
            display: flex;
            flex-direction: row;
            width:320px;


            .quote {
                color: $secondary-font-color;
                font-family: 'Poppins-medium';
                padding-left: 10px;
                font-size:12px;
            }
            
        }

        .submit {
            background: $submit;
            margin: 20px auto 20px auto;
            color: $background;
            border-radius: 45px;
            height: 45px;
            width: 175px;
        }


    }
}