<mat-card>
  <div class="form">
    <h3> Wypełnij formularz</h3>
    <p> Skontaktujemy się z tobą najszybciej, jak to będzie możliwe.</p>

    
      <mat-form-field appearance="legacy">
        <mat-label>Nazwa Firmy/Imię i nazwisko</mat-label>
        <input required [ngClass]="[companyName]" (click)="applyStyle('companyName')" value="np. Apple" matInput>
      </mat-form-field>
  

  
      <mat-form-field appearance="legacy">
        <mat-label>Numer NIP</mat-label>
        <input required [ngClass]="[nip]" (click)="applyStyle('nip')" value="123-45-67-890" matInput>
      </mat-form-field>
  
  
      <mat-form-field appearance="legacy">
        <mat-label>E-mail</mat-label>
        <input required [ngClass]="[email]" (click)="applyStyle('email')" value="example@email.com" matInput>
      </mat-form-field>
  
  
      <mat-form-field appearance="legacy">
          <mat-label>Numer telefonu</mat-label>
          <input [ngClass]="[tel]" (click)="applyStyle('tel')" value="123 456 789" matInput>
      </mat-form-field>
    
  <!--     
        <mat-form-field appearance="legacy">
            <mat-label>Temat</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
            <input required [ngClass]="[topic]" (click)="applyStyle('topic')" matInput>
        </mat-form-field> -->

      <div  class="fake-input" [ngClass]="[drivingLic]" (click)="applyStyle('drivingLic')">
          <p>Czy posiadasz prawo jazdy kat.B?</p>
          <mat-radio-group>
              <mat-radio-button value="tak">Tak</mat-radio-button>
              <mat-radio-button value="nie">Nie</mat-radio-button>
            </mat-radio-group>
      </div>

      <mat-form-field appearance="legacy">
        <mat-label>Treść wiadomości</mat-label>
        <textarea class="message" [ngClass]="[message]" (click)="applyStyle('message')" value="Dzień dobry," matInput></textarea>
      </mat-form-field>

      <div class="agreement">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <span class="quote" style="color:black">Zaznacz wszystkie zgody</span>

      </div>
      <div class="agreement">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <span class="quote">Wyrażam zgodę na przetwarzanie danych osobowych podanych przeze mnie w powyższym formularzu w celu kontaktowym 
          <span class="mat-placeholder-required mat-form-field-required-marker ng-tns-c46-2 ng-star-inserted">*</span>
        </span>

      </div>
      <div class="agreement">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <span class="quote">Wyrażam zgodę na kontakt telefoniczny w sprawach marketingowych</span>
      </div>

      <button class="submit" mat-button>Wyślij wiadomość</button>
  </div>
</mat-card>