@import '../theme.scss';
div {
    background-color: $background;
}

.toolbar {
    padding-top: 50px;
    background-color: $background;
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }