/* You can add global styles to this file, and also import other style files */
@import './theme.scss';

html, body { height: 100%; background: $background}

/* styles from angular-material */
.cdk-overlay-dark-backdrop{background:rgba(0,0,0,0.05)}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    display: none;
}

.cdk-overlay-container .mat-dialog-container {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.5em;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0px;
    border: none;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    margin-top: 18px;
}
.mat-placeholder-required {
    color: $warning-secondary;
    font-weight: 700;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-color;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $primary-color;
}

  body { margin: 0; font-family: 'Poppins-medium'}  