/* ======== colors ======== */ 
$primary-color: #F86604;
$warning: #F74E4F;
$warning-secondary: #fc6e17;
$background: #f9f9f9;
$basic-font-color: #333;
$secondary-font-color: #A9A9A9;
$submit: #40de4e;


/* ======= font =========== */
@font-face {
    font-family: 'Poppins-medium';
    font-style: medium;
    font-weight: 500;
    src: url('assets/poppins/Poppins-Medium.ttf') format('truetype'); /* IE9 Compat Modes */
}
